# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl: 
main: 'gnss'
homeurl: https://www.datagnss.com
url: https://docs.datagnss.com
date_format: "ordinal"
title: "DATAGNSS WiKi"
subtitle: "support center"
description: "DATAGNSS products wiki"
keywords: gem1305,nano rtk,helix antenna,rtk,handheld rtk,gnss receiver
logo: 'images/logo-wb.png'
timezone: Asia/Hongkong
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: DATAGNSS
organization: DATAGNSS
organization_url: https://www.datagnss.com 
github_username: datagnss
copyright_year: 2026

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: https://www.datagnss.com/
    label: HOME

  -
    href: https://www.datagnss.com/collections/gnss-for-drone
    label: RTK for Autopilot

  -
    href: https://www.datagnss.com/collections/rtk-antenna
    label: Antenna

  -
    href: https://www.datagnss.com/collections/accessories
    label: Accessories

  -
    href: https://store.datagnss.com
    label: STORE

  -
    href: https://www.datagnss.com/pages/contact-us
    label: CONTACT

    
# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: datagnss/datagnss.github.io

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: true
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-119678148-1
