
<h3 class="post-directory-title mobile-hidden">Table of Contents</h3>
<div id="post-directory-module" class="mobile-hidden">
  <section class="post-directory">
  <nav class="site-right-nav" role="navigation">
  <ul>
                {% for nav in site.navr %}
                <li>
				<a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
				</li>
                {% endfor %}
	</ul>
            </nav>
  </section>
</div>

<script src="{{ site.url }}/assets/js/jquery.toc.js"></script>
