
<h3 class="post-directory-title mobile-hidden">Table of Contents</h3>
<div id="post-directory-module" class="mobile-hidden">
  <section class="post-directory">
  <nav class="site-right-nav" role="navigation">
  
                {% for nav in site.navr %}
                
				<a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" >{{ nav.label }}</a>
				
                {% endfor %}
	
            </nav>
  </section>
</div>

<script src="{{ site.url }}/assets/js/jquery.toc.js"></script>
